.section-about {
    grid-area: about;
    background-image: linear-gradient(rgba($color-black, .87), rgba($color-black, .87)), url(../../img/about-2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.about__box {
    padding: 3rem;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
   

    &--copy {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.25;
        word-spacing: .5rem;
        color: $color-softWhite;
    }
}