.header {
    grid-area: head;
    display: grid;
    justify-content: end;
    align-content: center;
    font-family: $font-primary;
    
    &__box {
        backface-visibility: hidden;
        margin-right: 3rem;

        &--subheading {
            animation-name: moveDown;
            animation-duration: 2s;
            animation-timing-function: ease-in;
        }
        &--copy {
            animation-name: moveDown;
            animation-duration: 2s;
            animation-timing-function: ease-in;
           
        }    
    }
  }
