.header {
    grid-area: head;
    background-image: linear-gradient(to right, rgba($color-black, .1), rgba($color-black, .1)), url(../../img/responsive-image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}