.header {
    grid-area: head;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: $font-primary;
    
    &__box {
        backface-visibility: hidden;

        &--subheading {
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        &--copy {
            animation-duration: 2s;
            animation-iteration-count: infinite;
           
        }    
    }
  }
