/*
font-family: 'Finger Paint', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Lacquer', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Rubik', sans-serif;
*/
//FONTS //////////////////////////////////////////////////////
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Crimson Text', serif; 
$font-tertiary: 'Finger Paint', cursive;
/////////////////////////////////////////////////////////////



//COLORS /////////////////////////////////////////////////////
$color-black: #000;
$color-softBlack: rgb(26, 25, 25);
$color-white: #eee;
$color-softWhite: rgb(197, 197, 197);
$color-primary-light: #4cd137;
$color-primary-dark: #27ae60;
$color-secondary-1: #2c3e50;
$color-secondary-2: #34495e; 
/////////////////////////////////////////////////////////////