
//FONTS //////////////////////////////////////////////////////
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Crimson Text', serif; 
/////////////////////////////////////////////////////////////



//COLORS /////////////////////////////////////////////////////
$color-black: #000;
$color-white: #eee;
$color-primary-light: #4cd137;
$color-primary-dark: #27ae60;
$color-secondary-1: #2c3e50;
$color-secondary-2: #34495e; 
/////////////////////////////////////////////////////////////