@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-20rem);
    }

    40% {
        opacity: 1;
        transform: translateY(.75rem);
    }

    60% {
        opacity: 1;
        transform: translateY(-1.75rem);
    }

    80% {
        opacity: 1;
        transform: translateY(.75rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

