@keyframes moveDown {
    0% {
        opacity: 0;
        transform: rotate(30deg);
    }

    80% {
        opacity: 1;
        transform: rotate(-10deg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveLong {
    0% {
        opacity: 0;
        transform: rotate(30deg);
    }

    80% {
        opacity: 1;
        transform: rotate(-10deg);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}