*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: $color-secondary-1;
}

.container {
    width: 90%;
    margin: 1rem auto;
    background-color: $color-secondary-2;
    display: grid;
    grid-template-areas: "head"
                         "about"
                         "projects"
                         "footer";
    
}