
.main-heading {
    color: $color-primary-dark;
    font-size: 8rem;
    word-spacing: .25rem;
    font-family: $font-primary;
    @media only screen and (max-width: 26.625em) {
        font-size: 6rem;
        word-spacing: none;
    }
}

.copy-normal {
    color: $color-primary-light;
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}

.copy-normal-dark {
    color: $color-primary-dark;
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}