
.main-heading {
    color: $color-primary-light;
    font-size: 8rem;
    word-spacing: .25rem;
    @media only screen and (min-width: 500px) {
        font-size: 4.5rem;
        word-spacing: 0;
    }
}

.tert-heading {
    color: $color-primary-light;
    font-size: 3.5rem;
    letter-spacing: .1rem;
    @media only screen and (min-width: 500px) {
        font-size: 2.25rem;
        word-spacing: 0;
    }
}

.copy-normal {
    color: $color-primary-light;
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}

.copy-normal-dark {
    color: $color-primary-dark;
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}